body {
    margin: auto;
    /* padding-right: 2em; */
    padding-left: 2em;
}

table,
th,
td {
    text-align: center;
    border: 1px solid black;
    border-width: 1px;
}

td {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: verdana;
    font-weight: bold;
    border-bottom: 1px dotted black;
    margin-top: 1em;
    margin-bottom: 1em;
}

video {
    width: 200px;
}

audio {
    width: 200px;
}
